# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.db*
*.opendb
*.ipch*
*.VC.db
*.suo
*.tlog
*.ilk
*.log
*.pdb
*.idb

*.exe.recipe
*.recipe
*.user

.build
.mbed
projectfiles
*.py*